<!-- <nav class="aliheader" role="navigation">
  <ul clss="right hide-on-med-and-down">
      <li><a *ngIf="loggedUser" (click)="logout()">Sign out - {{loggedUser.firstName}} {{loggedUser.lastName}} logged in!!!</a>
      <a *ngIf="!loggedUser" (click)="login()">Sign in</a></li>
  </ul>
</nav>

<nav class="lime" role="navigation">
  <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo"><img src="assets/uploads/images/{{allSitesApp[0].siteLogo}}" width="100"></a>
    <ul class="right hide-on-med-and-down">
      <li><a href="#"><i class="material-icons" style="height:100%; line-height: 90px; vertical-align: middle">home</i></a></li>
      <li><a href="#">About us</a></li>
      <li><a href="/favorites">Musics</a></li>
      <li><a href="#">Videos</a></li>
      <li><a href="/artists">Artists</a></li>
      <li><a href="#">Contact us</a></li>
      <li><a href="main/admin">admin</a></li>
    </ul>
    <a data-activates="nav-mobile" class="button-collapse"><i class="material-icons" (click)="showMenu()">menu</i></a>
  </div>
</nav>
<ul id="nav-mobile" class="side-nav">
    <li><a href="#"><i class="material-icons">home</i></a></li>
    <li><a href="#">About us</a></li>
    <li><a href="#">Musics</a></li>
    <li><a href="#">Videos</a></li>
    <li><a href="#">Artists</a></li>
    <li><a href="#">Contact us</a></li>

  </ul> -->




<router-outlet></router-outlet>
<!-- <app-footer></app-footer>  -->


<!-- <router-outlet></router-outlet> -->