* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  nav.lime,.nav-wrapper.container {
    height:90px;
    line-height: 90px;
    background: rgb(130,206,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(130,206,0,1) 0%, rgba(11,8,12,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(130,206,0,1) 0%,rgba(11,8,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(130,206,0,1) 0%,rgba(11,8,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ce00', endColorstr='#0b080c',GradientType=0 ); /* IE6-9 */
  }
  .aliheader {
    height:90px;
    line-height: 90px;
    background: rgb(130,206,0); /* Old browsers */
    background: -moz-linear-gradient(top, rgb(0, 48, 206) 0%, rgba(11,8,12,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(130,206,0,1) 0%,rgba(11,8,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 139, 206) 0%,rgba(11,8,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ce00', endColorstr='#0b080c',GradientType=0 ); /* IE6-9 */
  }
  
  
  ul.right, ul.hide-on-med-and-down {
    width:80vw;
  }
  ul.right li, ul.hide-on-med-and-down li  {
    width:12.5vw;
    text-align: center;
  }
  .activeinli {
    background-color: black;
    color:beige;
  }
  body {
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 16px;
    /* color: #333; */

    text-align: center;
    /* background: #eee ; */
    background: #0a0809; /* Old browsers */
    background: -moz-linear-gradient(top, #0a0809 0%, #7200ff 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #0a0809 0%,#7200ff 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #0a0809 0%,#7200ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#7200ff',GradientType=0 ); /* IE6-9 */
  }
  h4 {
    width:80%;
    text-align: center;
    margin:0 auto;
    font-size:2em;
    font-weight: bold;
    color:#eceff1;
    font-family: 'Nunito', sans-serif;
  }
  h3 {
    width:100%;
    text-align: center;
    margin:0 auto;
    font-size:2em;
    
    color:#f9fbe7;
  }
  .playing {
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    transform: translateX(-50%) translateY(-50%);
  }
  li.col.s12.m6.l12.testa {
    line-height:  70px;
    vertical-align: top;
    width: 100%;
    margin:0;
    padding:10px;
    height:70px;
  }
  a.testa span{
    display: inline-block;
    width:100%;
   }
    li.col.s12.m6.l12.testa  a.testa{
      line-height: 17.5px;
      display: inline-block;
      width: 60%;
      vertical-align: top;
      margin: 0;
      padding: 0;
      height: 50px !important;
  }
  li.col.s12.m6.l12.testa  a.testb{
    line-height:  25px;
    width:100%;
    vertical-align: bottom;
    margin:0;
    padding:0;
  }

  .scrollul {
    max-height:33.33vw;
    overflow-y: scroll;
  }

  .activesong {
  background-color: beige;
  }
  .notplayed {
    background-color: #0000001f;
  }
  .playing:after {
    content: "Now Playing.";
    display: block;
    width: 100%;
    margin-top: 10px;
  }
  .now.playing .bar {
    display: inline-block;
    position: relative;
    margin-right: 1px;
    width: 10px;
    height: 1px;
    overflow: hidden;
    background: linear-gradient(to bottom, #ff9500, #272341);
    color: transparent;
    animation-name: pulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .paused.playing .bar {
    animation-iteration-count: 1;
  }
  .paused.playing:after {
    content: "Paused (Lame)"
  }
  .n1 {
    animation-delay: 0.5s;
  }
  .n2 {
    animation-delay: 0.2s;
  }
  .n3 {
    animation-delay: 1.2s;
  }
  .n4 {
    animation-delay: 0.9s;
  }
  .n5 {
    animation-delay: 2.3s;
  }
  .n6 {
    animation-delay: 1.3s;
  }
  .n7 {
    animation-delay: 3.1s;
  }
  .n8 {
    animation-delay: 5.9s;
  }
  @keyframes pulse {
    0% {
      height: 1px;
      margin-top: 0;
    }
    10% {
      height: 40px;
      margin-top: -40px;
    }
    50% {
      height: 20px;
      margin-top: -20px;
    }
    60% {
      height: 30px;
      margin-top: -30px;
    }
    80% {
      height: 60px;
      margin-top: -60px;
    }
    100% {
      height: 1px;
      margin-top: 0;
    }
  }
  button {
    border: none;
    background: none;
    cursor: pointer;
  }

  


  /** 
 * NOTE: I'm using Codepen's build in autoprefixer 
 */
/** 
 * NOTE: I'm using Codepen's build in autoprefixer 
 */

 body {
  background: #272341;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bagahl {
  display: inline-block;
  width:50px;
  height:50px;
}

/* .row{
  /* I don't want no stinkin' whitespace chars */
  /* line-height: 0;
  font-size: 0; */
  
  /* Don't scroll, just cut off... */
  /* overflow: hidden; */
  /* height: 50px; */
  /* width: 100%; */
/* } */ 

/* .row > div {
  display: inline-block !important;
  width: 50px;
  height: 50px;
  animation: color_change 2s infinite alternate;
}
@keyframes color_change {
  from { background-color: blue }
  to { background-color:#ff0915; }
} */


input[type=range]::-ms-track {
  width: 400px;
  height: 100%;
  -webkit-appearance: none;
  margin: 0px;
  padding: 0px;
  border: 0 none;
  background: blue;
  color: transparent;
  overflow: visible;
}



input[type=range]:focus::-webkit-slider-runnable-track {
  background: orange;

  height:10px;
  border: transparent;
  width:100px !important;
}

input[type=range]:focus {
  outline: none;
}

/* Make the thumbs the same size as your custom sliderthumb. They will not be visible but they will be draggable. */
input[type=range]::-ms-thumb {
  width: 40px;
  height: 10px;
  border-radius: 0px;
  border: solid 2px black;
  background: black;

}

input[type=range]::-moz-range-thumb {
  width: 40px;
  height: 10px;
  border-radius: 0px;
  border: 0 none;
  background: purple;
}


#canvas {
  background: url(/assets/images/dot.png);
  background-color:rgba(13, 42, 247, 0.42);
  width:100%;
}


@keyframes example {
  0% {
    /* transform: scale(1.1); */
    /* filter: blur(10px); */
    /* transform: rotateY(0deg);
    transform: scale(1, 1); */
    /* opacity: 0.75; */
    /* top: 340px; */
}
33% {
  /* transform: scale(1.1); */
    /* transform: rotateY(40deg);
    transform: scale(0.6, 1.2); */
}
66% {
  /* transform: scale(2.2); */
    /* transform: rotateY(2deg);
    transform: scaleY(1.2, 0.4); */
}
100% {
  /* transform: scale(3,3); */
    /* filter: blur(16px); */
    /* transform: rotateY(50deg);
    transform: scaleY(1.4, 1.2); */
    /* opacity: 0; */
    /* top: -600px; */
}

}


.btnJump{
  color:black !important;
  font-weight: bold;

}

#sliders4{ 
  /* transform: scale(4.0); */
  margin: 0px auto; 
  position: relative; 
  width: 90%; 
  min-height:auto;
  height: auto; 
  padding: 10px; 
  /* animation-name: example; */
  /* animation-duration: 10s; */
  
  animation-iteration-count: infinite;
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  /* background-image:url(/assets/images/steam2.png); */
}

#sliders2{ 
  /* transform: scale(4.0); */
  margin: 0px auto; 
  position: relative; 
  width: 90%; 
  min-height:300px;
  height: auto; 
  padding: 10px; 
  /* animation-name: example; */
  /* animation-duration: 10s; */
  
  animation-iteration-count: infinite;
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  /* background-image:url(/assets/images/steam2.png); */
}
#sliders3{ 
  /* transform: scale(4.0); */
  margin: 0px auto; 
  position: relative; 
  width: 90%; 
  min-height:300px;
  height: auto; 
  padding: 10px; 
  /* animation-name: example; */
  /* animation-duration: 10s; */
  
  animation-iteration-count: infinite;
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  /* background-image:url(/assets/images/steam2.png); */
}

#sliders .inside{ 
  /* transform: scale(4.0); */
  margin: 0px auto; 
  position: relative; 
  width: 90%; 
  min-height:300px;
  height: auto; 
  padding: 10px; 
  animation-name: example;
  animation-duration: 10s;
  
  animation-iteration-count: infinite;
  box-shadow: 0 0 20px rgba(0,0,0,0.4); 
  background-image:url(/assets/images/steam2.png);
}

/* #sliders > div.lyric { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  width:60%;
  margin:0 auto;
  font-size:2em;
  text-align: center;
  color:rgb(29, 29, 29);
  right: 10px; 
  bottom: 10px; 
} */

#sliders > div { 
  position: absolute; 
  top: 10px; 
  left: 10px; 
  right: 10px; 
  bottom: 10px; 
  width:90%;
  margin:0 auto;
  font-size:1.4em;
  text-align: center;
}

.hide, .noactive , pak{
  display: none !important;
}

.show {
  display: block !important;
}

/* new design of range */


body {
  height: 100vh;
  margin: 0;
  display: flex;
}

input[type="range"] { 
  margin: auto;
  -webkit-appearance:none;
  position: relative;
  overflow: hidden;
  height: 10px;
  width: 200px;
  cursor: pointer !important;
  border-radius: 0; /* iOS */
}

::-webkit-slider-runnable-track {
  background: red;
  height: 10px !important;
}

/*
* 1. Set to 0 width and remove border for a slider without a thumb
*/
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px; /* 1 */
  height: 10px;
  background: #fff;
  box-shadow: -100vw 0 0 100vw rgb(2, 0, 85);
  border: 2px solid #999; /* 1 */
}
/* 
::-moz-range-track {
  height: 6px;
  background: #ddd;
}

::-moz-range-thumb {
  background: #fff;
  height: 6px;
  width: 6px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  box-sizing: border-box;
}

::-ms-fill-lower { 
  background: dodgerblue;
}

::-ms-thumb { 
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box;
}

::-ms-ticks-after { 
  display: none; 
}

::-ms-ticks-before { 
  display: none; 
}

::-ms-track { 
  background: #ddd;
  color: transparent;
  height: 6px;
  border: none;
}

::-ms-tooltip { 
  display: none;
} */
/* 
app-root nav.lime {
  display: none !important;
} */

.tabbars {
  height: 33.33vw;
 
}


.row.favorBg {
  /* background-color: #05263a; */
background-color: black !important;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#82ce00+0,0b080c+100 */
background: rgb(130,206,0); /* Old browsers */
background: -moz-linear-gradient(top, rgba(130,206,0,1) 0%, rgba(11,8,12,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(130,206,0,1) 0%,rgba(11,8,12,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(130,206,0,1) 0%,rgba(11,8,12,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82ce00', endColorstr='#0b080c',GradientType=0 ); /* IE6-9 */
}


.row.favorBg1 {
  background-color: #0b080c !important;
}

.s7 a{
  max-width:20%;
}
.s7.l12.navTop , .nav-wrapper{
  width:100%;
  max-width:100%;
  overflow: hidden !important;
}
.playerDetails {
  width:100%;
  /* background-color: #272341; */
  margin:0 auto;
}

.row.playerDetails.l12.s6 div div button i {
  color: beige !important;
  margin:60px auto;
  
}

/* .row {
  background-color: transparent !important;
} */




.testFooter {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0a0809+0,7200ff+100 */
  background: #0a0809; /* Old browsers */
  background: -moz-linear-gradient(top, #0a0809 0%, #7200ff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #0a0809 0%,#7200ff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #0a0809 0%,#7200ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#7200ff',GradientType=0 ); /* IE6-9 */
  }


  .tabs {
    background-color: transparent !important;
  }
  .tabs li a {
    background-color: transparent !important;
  }

  .tabs li a.active {
    transition: 5s;
    background-color: black !important;
  }

  /* .row.tabbars.transparent {
    background-color: red !important;
} */




input[type=range]::-webkit-slider-thumb {

    -webkit-appearance: none;
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background-color:rgb(2, 0, 85);
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    margin: -5px 0 0 0;
    transition: .3s;
}

.navTop {
  
    background: #0a0809;
    background: linear-gradient(to bottom, #0a0809 0%,#4bbf03 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0a0809', endColorstr='#7200ff',GradientType=0 );
}

.hide {
  display: none;
}



.alltab {
  height: 33vw;
}

